*{
    margin: 0;
    padding: 0;
}

.card{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap
  }
.btn{
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    min-height:30px; 
    min-width: 120px;
}